@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito:wght@600&display=swap");

:root {
  font-size: 16px;
  --grey1: rgb(170, 170, 170);
  --grey2: grey;
  --grey3: rgb(85, 85, 85);
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Nunito", sans-serif;
}

p {
  font-family: "Crimson", serif;
}

div {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  background-color: var(--grey2);
}

main {
  display: flex;
  flex-direction: column;
}

.subnav {
  height: 75px;
  background-color: var(--grey2);
  margin-top: 0.5rem;
  width: 100%;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top-articles {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-articles__articles {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.top-articles__articles {
  min-width: 300px;
}

.top-articles__articles .first-article {
  height: 200px;
  width: 100%;
  background-color: var(--grey3);
}

.top-articles__articles .other-articles {
  background-color: var(--grey2);
  height: 300px;
  width: 100%;
  margin-top: 0.3rem;
}

.top-articles__newsletter {
  height: 400px;
  width: 34%;
  background-color: var(--grey1);
  min-width: 100px;
}

.guides {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.guide {
  width: 30%;
  background-color: var(--grey2);
  height: 200px;
  min-width: 200px;
  margin-top: 0.3rem;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  height: 200px;
  width: 45%;
  min-width: 300px;
  background-color: var(--grey1);
  margin-top: 0.3rem;
}

.members {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.kinsta {
  width: 33%;
  height: 150px;
  background-color: var(--grey1);
}

.member {
  width: 58%;
  height: 250px;
  background-color: var(--grey1);
}

.family {
  margin-top: 0.5rem;
  height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: scroll;
  scrollbar-width: 0.1rem;
}

.family-member {
  height: 300px;
  min-width: 40%;
  background-color: var(--grey3);
  margin-right: 1rem;
}

.workshops {
  height: 500px;
  background-color: var(--grey3);
}

.person-week {
  width: 100%;
  height: 150px;
  background-color: var(--grey1);
  margin-top: 0.5rem;
}

footer {
  height: 600px;
  background-color: var(--grey1);
  margin-top: 0.5rem;
}
